#searchInput{
    width: 90%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 12px; /* Add some space below the input */
  }
  h1{
    text-align: center;
    color: aqua;
  }
  #search{
    margin: 30px;
    padding: 20px;
  }
  body{
    text-align: center;
  }