#party > * { 
  display: inline-block;
}

#rating > * {
  display: inline-block;
}

a{
  display: block;
  text-decoration: none;
}

.articleDiv {
  background-color: #e6e6e6;
}
body{
  text-align: center;
  color: black;
}

#button{
  background-color: green;
  color: white;
  width: 10%;
  height: 50px;
}

input{
  height: 30px;
  width: 10%;
  text-align: center;
}